.toast-container {
  position: fixed !important;
  top: 100px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  max-width: 320px;
}

/* Toast base */
.toast{
  border-left-color: #ffa200;
  border-left-width: 4px !important;
  border-left-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191919 !important;
  color: #ffffff !important;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 20px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  max-width: 300px;
  transform: translateX(100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: auto;
  animation: leftborder 8s infinite;
}

@keyframes leftborder {
  0% {
    border-left-color: #ffa200;
  }

  100% {
    border-left-color: #191919;
  }
}

/* When visible */
.toast.show {
  opacity: 1;
  transform: translateX(0);
  /* slide in */
}

/* Toast message text */
.toast-message {
  flex: 1;
  margin-right: 12px;
}

/* Close button */
.toast-close {
  background: transparent;
  border: none;
  color: #ffa200;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.toast-close:hover {
  color: #804a4a;
}
