.navbar {
  position: absolute !important;
  top: 0;
  z-index: 1000;
  width: 80%;
  align-self: center !important;
  padding: 1rem 0;
  
  border-bottom: #ffffff solid 1px;
}

.navbar-container {
  padding: 0vh 2vw;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  flex-shrink: 0;
}

.logo-image {
  width: 140px !important;
  height: 140px !important;
  object-fit: contain;
  margin: -5vh !important;
}

.navbar-nav {
  display: flex;
  margin-left:20vw !important;
  align-items: center !important;
  font-size: 1.2rem;
  justify-self: center !important;
  gap: 4rem;
  flex-direction: row !important;
  flex: 1 !important;
  justify-content: center !important;
  margin: 0 2rem;
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f4f1ed;
  transition: width 0.3s ease;
}


.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #ffffff;
}

.navbar-login-btn {
  padding: 0.4rem 1.9rem;
  background: transparent;
  color: white;
  margin-top: 2vh !important;
  border: 2px solid #FF9F10;
  border-radius: 30px;
  font-size: 1rem;
  margin-left: 10vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.navbar-login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 221, 0, 0.6);
}

.navbar-login-btn:active {
  transform: translateY(0);
}