/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
}

.dashboard-main-content {
  background-color: var(--background);
}


.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  width: 100%;
}



.footer {
  width: 100%;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .dashboard-main-content {
    min-height: auto;
  }
}

:root {
  --background: #24252A;
  --text: #ffffff;
  --card: #1F1F1F;
  --lightcard: #2C2C2E;
  --orange: #FF9F10;
  --orange-dark: #D97706;
  
  --shadow: rgba(0, 0, 0, 0.2);
  --inputtext: #ffffff;
  --inputborder: #CCCCCC;
  --inputbackground: #413e3e;

  --red: #FF4C4C;
  --green: #4CAF50;
  --blue: #2196F3;
  --grey: #888888;
};