/* Footer.css */
.footer {
  background-color: #151515;
  color: var(--text);
}

.footer-container {
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 10rem;
  justify-items: center;
  align-items: start;
}

.footer-grid {
  grid-template-columns: repeat(4, 1fr);
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.apk-section {
  grid-column: span 1;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  border-bottom: #fff 2px solid;
}


.footer-description {
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact-item {
  display: flex;
  align-items: flex-start;
}

.contact-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.contact-icon.location {
  color: #fff;
}

.contact-icon.email {
  color: #fff;
}

.contact-text {
  color: #fff;
  font-size: 0.875rem;
}

.contact-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s ease;
}

.contact-link:hover {
  color: white;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hours-item {
  font-size: 0.875rem;
  color: #fff;
}

.footer-copyright {
  padding-top: 2rem;
  background-color: #000000;
  padding: 1rem 0;
}

.copyright-text {
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
  margin: 0;
}