.navbar-dash {
  background: linear-gradient(#0000001a, rgba(0, 0, 0, 0.4)),
    url("../../media/homeimg.png") center/cover no-repeat;
  max-height: 14vh;
}

.navbar-dash-container {
  display: flex;
  margin: 1vh 4vw;
}

.navbar-dash-logo {
  flex-shrink: 0;
}

.logo-image {
  width: 140px;
  height: 140px;
  object-fit: contain;
  cursor: pointer;
}

.navbar-dash-nav {
  display: flex;
  align-items: center !important;
  justify-self: center !important;
  gap: 4rem;
  flex-direction: row !important;
  flex: 1 !important;
  justify-content: center !important;
  margin: 0 2rem;
}

.nav-dash-link {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.nav-dash-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
}


.nav-dash-link:hover::after,
.nav-dash-link.active::after {
  width: 100%;
}

.nav-dash-link.active {
  color: #ffffff;
}

.navbar-dash-login-btn {
  padding: 0.4rem 1.5rem;
  background: transparent;
  color: white;
  margin-top: 1.5vh !important;
  border: 2px solid #ff9f10;
  border-radius: 30px;
  font-size: 1rem;
  margin-left: 19vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.navbar-dash-login-btn:hover {
  background: white;
  color: #2b2b2b;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

.navbar-dash-login-btn:active {
  transform: translateY(0);
}
